/* ######### */
/* index.css */
/* ######### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#app-container {
  background-color: #FFFFFF;
  color: #181d20;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  padding: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* ################# */
/* Navbar Formatting */
/* ################# */

.navbar-left, 
.navbar-right, 
.navbar-top, 
.navbar-bottom {
  position: fixed;
  background-color: #F8F8F8;
  color: #6E6E6E;
  display: flex;
  z-index: 10;
}

.navbar-left, 
.navbar-right {
  top: 0;
  bottom: 0;
  width: 60px;
  flex-direction: column;
}

.navbar-top, 
.navbar-bottom {
  left: 60px;
  right: 60px;
  height: 60px;
  align-items: center;
}

.navbar-top {
  top: 0;
  justify-content: space-between;
}

.navbar-bottom {
  bottom: 0;
  justify-content: flex-start;
}

.navbar-left {
  left: 0;
}

.navbar-right {
  right: 0;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6E6E6E;
  text-decoration: none;
  position: relative;
}

.nav-icon:hover {
  background-color: #E1E1E1;
}

/* This deals with the theme switch icon/button */
.nav-icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

/* keeps the icon space, but it's invisible */
.hidden-placeholder {
  visibility: hidden;
  width: 60px;
  height: 60px;
}

/* stylling for "PRUDENTIA" */
.website-header {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
  color: #6E6E6E;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* stylling for copyright statement */
.website-footer {
  font-size: 15px;
  color: #6E6E6E;
  margin-left: auto;
}

/* keeps the icons in order */
.top-bottom-navbar-icons {
  display: flex;
}


/* ################################# */
/* Tooltips for icons in the navbars */
/* ################################# */

/* tooltip default hidden state */
.nav-icon::after {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  background-color: #6E6E6E;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 9999; /* Ensure tooltips are on top of other content */
}

.navbar-left .nav-icon:hover::after {
  content: attr(data-tooltip);
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.navbar-top .nav-icon:hover::after {
  content: attr(data-tooltip);
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.navbar-right .nav-icon:hover::after {
  content: attr(data-tooltip);
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.navbar-bottom .nav-icon:hover::after {
  content: attr(data-tooltip);
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}


/* ##################### */
/* Dark Theme Formatting */
/* ##################### */

/* Dark Theme */
.dark-theme {
  background-color: #181d20;
  color: #FFFFFF;
}

/* Ensure dark theme applies to navbars */
.dark-theme .navbar-left,
.dark-theme .navbar-right,
.dark-theme .navbar-top,
.dark-theme .navbar-bottom {
  background-color: #212629;
}

/* Ensure dark theme applies to nav-icons on hover */
.dark-theme .nav-icon:hover {
  background-color: #101518;
}


/* #################### */
/* Grid Page Formatting */
/* #################### */

.grid-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-page h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
}


/* ########################### */
/* Temp Placeholder Formatting */
/* ########################### */

.outer-placeholder {
  display: flex; /* equivalent to d-flex */
  justify-content: center; /* equivalent to justify-content-center */
  align-items: center; /* equivalent to align-items-center */
  height: 100vh; /* equivalent to vh-100 (100% of viewport height) */
}

.temp-inner-placeholder {
  background-color: #F8F8F8;
  padding: 1.5rem; /* equivalent to p-4 */
  border-radius: 0.25rem; /* equivalent to rounded */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); /* equivalent to shadow */
  text-align: center;
}

.dark-theme .temp-inner-placeholder {
  background-color: #212629;
}

.login-register-box {
  background-color: #F8F8F8;
  padding: 1.5rem; /* equivalent to p-4 */
  border-radius: 0.25rem; /* equivalent to rounded */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); /* equivalent to shadow */
  text-align: center;
}

.dark-theme .login-register-box {
  background-color: #212629;
}

.style-button {
  display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #6E6E6E;
  border: 1px solid #6E6E6E;
  padding: 0.375rem 0.75rem; /* Padding equivalent to Bootstrap */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; /* Rounded corners */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.style-button:hover {
  display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #6E6E6E;
  border: 1px solid #6E6E6E;
  padding: 0.375rem 0.75rem; /* Padding equivalent to Bootstrap */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; /* Rounded corners */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.style-form-control {
  display: block;
  width: 100%; /* Full width of the parent */
  height: calc(1.5em + 0.75rem + 2px); /* Height based on font size and padding */
  padding: 0.375rem 0.75rem; /* Padding inside the input */
  font-size: 1rem; /* Base font size */
  font-weight: 400; /* Normal font weight */
  line-height: 1.5; /* Line height */
  color: #6E6E6E; /* Text color */
  background-color: #FFFFFF; /* Background color */
  background-clip: padding-box; /* Ensure background covers the padding area */
  border: 1px solid #6E6E6E; /* Border color */
  border-radius: 0.25rem; /* Slightly rounded corners */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition for border and shadow on focus */
}

.style-form-control:focus {
  color: #6E6E6E;
  background-color: #FFFFFF;
  border-color: #80bdff; /* Blue border on focus */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Blue shadow on focus */
}

.dark-theme .style-form-control {
  background-color: #181d20;
}