/* ######### */
/* index.css */
/* ######### */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#app-container {
  background-color: #FFFFFF;
  color: #181d20;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-area {
  padding: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* ################# */
/* Navbar Formatting */
/* ################# */

.navbar-left, 
.navbar-right, 
.navbar-top, 
.navbar-bottom {
  position: fixed;
  background-color: #F8F8F8;
  color: #6E6E6E;
  display: flex;
  z-index: 10;
}

.navbar-left, 
.navbar-right {
  top: 0;
  bottom: 0;
  width: 60px;
  flex-direction: column;
}

.navbar-top, 
.navbar-bottom {
  left: 60px;
  right: 60px;
  height: 60px;
  align-items: center;
}

.navbar-top {
  top: 0;
  justify-content: space-between;
}

.navbar-bottom {
  bottom: 0;
  justify-content: flex-start;
}

.navbar-left {
  left: 0;
}

.navbar-right {
  right: 0;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6E6E6E;
  text-decoration: none;
  position: relative;
}

.nav-icon:hover {
  background-color: #E1E1E1;
}

/* This deals with the theme switch icon/button */
.nav-icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

/* keeps the icon space, but it's invisible */
.hidden-placeholder {
  visibility: hidden;
  width: 60px;
  height: 60px;
}

/* stylling for "PRUDENTIA" */
.website-header {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
  color: #6E6E6E;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* stylling for copyright statement */
.website-footer {
  font-size: 15px;
  color: #6E6E6E;
  margin-left: auto;
}

/* keeps the icons in order */
.top-bottom-navbar-icons {
  display: flex;
}


/* ################################# */
/* Tooltips for icons in the navbars */
/* ################################# */

/* tooltip default hidden state */
.nav-icon::after {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  background-color: #6E6E6E;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 9999; /* Ensure tooltips are on top of other content */
}

.navbar-left .nav-icon:hover::after {
  content: attr(data-tooltip);
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.navbar-top .nav-icon:hover::after {
  content: attr(data-tooltip);
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.navbar-right .nav-icon:hover::after {
  content: attr(data-tooltip);
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.navbar-bottom .nav-icon:hover::after {
  content: attr(data-tooltip);
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}


/* ##################### */
/* Dark Theme Formatting */
/* ##################### */

/* Dark Theme */
.dark-theme {
  background-color: #181d20;
  color: #FFFFFF;
}

/* Ensure dark theme applies to navbars */
.dark-theme .navbar-left,
.dark-theme .navbar-right,
.dark-theme .navbar-top,
.dark-theme .navbar-bottom {
  background-color: #212629;
}

/* Ensure dark theme applies to nav-icons on hover */
.dark-theme .nav-icon:hover {
  background-color: #101518;
}


/* #################### */
/* Grid Page Formatting */
/* #################### */

.grid-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-page h1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.grid-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
}


/* ########################### */
/* Temp Placeholder Formatting */
/* ########################### */

.outer-placeholder {
  display: flex; /* equivalent to d-flex */
  justify-content: center; /* equivalent to justify-content-center */
  align-items: center; /* equivalent to align-items-center */
  height: 100vh; /* equivalent to vh-100 (100% of viewport height) */
}

.temp-inner-placeholder {
  background-color: #F8F8F8;
  padding: 1.5rem; /* equivalent to p-4 */
  border-radius: 0.25rem; /* equivalent to rounded */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); /* equivalent to shadow */
  text-align: center;
}

.dark-theme .temp-inner-placeholder {
  background-color: #212629;
}

.login-register-box {
  background-color: #F8F8F8;
  padding: 1.5rem; /* equivalent to p-4 */
  border-radius: 0.25rem; /* equivalent to rounded */
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); /* equivalent to shadow */
  text-align: center;
}

.dark-theme .login-register-box {
  background-color: #212629;
}

.style-button {
  display: inline-block;
  font-weight: 400;
  color: #6E6E6E;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #6E6E6E;
  padding: 0.375rem 0.75rem; /* Padding equivalent to Bootstrap */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; /* Rounded corners */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.style-button:hover {
  display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #6E6E6E;
  border: 1px solid #6E6E6E;
  padding: 0.375rem 0.75rem; /* Padding equivalent to Bootstrap */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem; /* Rounded corners */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.style-form-control {
  display: block;
  width: 100%; /* Full width of the parent */
  height: calc(1.5em + 0.75rem + 2px); /* Height based on font size and padding */
  padding: 0.375rem 0.75rem; /* Padding inside the input */
  font-size: 1rem; /* Base font size */
  font-weight: 400; /* Normal font weight */
  line-height: 1.5; /* Line height */
  color: #6E6E6E; /* Text color */
  background-color: #FFFFFF; /* Background color */
  background-clip: padding-box; /* Ensure background covers the padding area */
  border: 1px solid #6E6E6E; /* Border color */
  border-radius: 0.25rem; /* Slightly rounded corners */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition for border and shadow on focus */
}

.style-form-control:focus {
  color: #6E6E6E;
  background-color: #FFFFFF;
  border-color: #80bdff; /* Blue border on focus */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Blue shadow on focus */
}

.dark-theme .style-form-control {
  background-color: #181d20;
}

/* This will make the container a flexbox and place the grids side by side */
.grid-flex-container {
  display: flex;
  justify-content: space-between; /* Ensures space between the two grids */
  gap: 20px; /* Adds spacing between the two grids */
}

.grid-item {
  flex: 1; /* Each grid will take up equal space */
  min-width: 0; /* Helps to avoid overflow issues */
}

/* Optional: Add padding or margins for better spacing */
.grid-page {
  padding: 20px;
}

.grid-container {
  margin-top: 20px;
}

/* ######### Custom Table Styling ######### */

/* Light theme styling */
.custom-table {
  background-color: #FFFFFF;
  color: #181d20;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

/* Dark theme styling */
.dark-theme .custom-table {
  background-color: #181d20;
  color: #FFFFFF;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

/* Header styling for both themes */
.custom-table th {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #F8F8F8; /* Default border color */
}

.dark-theme .custom-table th {
  border: 1px solid #212629; /* Dark theme border color */
}

/* Cell styling for both themes */
.custom-table td {
  padding: 10px;
  border: 1px solid #F8F8F8; /* Default border color */
}

.dark-theme .custom-table td {
  border: 1px solid #212629; /* Dark theme border color */
}

/* Center-align amount columns and headers */
.custom-table th:nth-child(n+2):nth-child(-n+7),
.custom-table td:nth-child(n+2):nth-child(-n+7) {
  text-align: center;
}

/* Grey background for total rows in light and dark themes */
.custom-table .grey-background {
  background-color: #F0F0F0; /* Light theme */
  font-weight: bold;
}

.dark-theme .custom-table .grey-background {
  background-color: #303030; /* Darker grey for dark theme */
  font-weight: bold;
}


.grid-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px; /* Add padding to avoid overlap */
  background-color: inherit; /* Inherit the parent background color */
  color: inherit; /* Inherit text color */
  flex: 1;
  overflow-x: auto;
}

.grid-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: auto; /* Add horizontal scroll here */
  overflow-y: auto;
}

/* Dark Theme Adjustments for Tabs */
.dark-theme .tab-container {
  background-color: #181d20; /* Background for the tab container */
  color: #FFFFFF;
  min-height: calc(100vh - 120px); /* Adjust height to account for 60px top and bottom navbars */
}

/* Dark Theme for Grid Container */
.dark-theme .grid-container {
  background-color: #181d20; /* Ensure full dark background in grid */
  color: #FFFFFF;
}

/* ######### Page Background Fix ######### */
.dark-theme {
  background-color: #181d20; /* Background for entire page */
  color: #FFFFFF;
}

/* Fix padding for all tables */
.custom-table th,
.custom-table td {
  padding: 10px;
}

/* Adjust widths to align columns */
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
  width: 20%; /* Adjust the width of the first column */
}

.custom-table th:nth-child(n+2):nth-child(-n+7),
.custom-table td:nth-child(n+2):nth-child(-n+7) {
  width: 13%; /* Adjust the width for columns 2 to 7 */
}

.border-top-1 td:nth-child(2) {
  border-top: 3px solid #6E6E6E !important; /* Add border width and style */
}

.border-top-2 td:nth-child(3) {
  border-top: 3px solid #6E6E6E !important; /* Add border width and style */
}

.border-top-2 td:nth-child(3) {
  border-top: 3px solid #6E6E6E !important; /* Add border width and style */
}

.double-bottom-border td:nth-child(4) {
  border-bottom: 6px double #6E6E6E !important; /* Add border width and style */
  border-top: 3px solid #6E6E6E !important; /* Add border width and style */
}


/* ######### Tab Structure ######### */

/* Container for tabs */
.tab-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Tab buttons styling */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 10px; /* Rounded corners for tab buttons */
  border: 1px solid #6E6E6E; /* Default border for inactive tabs */
  background-color: #FFFFFF; /* Default background color for inactive tabs */
  color: #181d20; /* Default text color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.tab-buttons button:hover {
  background-color: #f0f0f0;
}

.tab-buttons button.active-tab {
  border: 2px solid #181d20; /* Border for active tab */
  background-color: #f0f0f0; /* Background for active tab */
  color: #181d20; /* Text color for active tab */
}

/* Dark theme for tab buttons */
.dark-theme .tab-buttons button {
  background-color: #181d20;
  border: 1px solid #6E6E6E;
  color: #FFFFFF;
}

.dark-theme .tab-buttons button:hover {
  background-color: #404040;
}

.dark-theme .tab-buttons button.active-tab {
  background-color: #303030;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

/* ######### Returns Filter ######### */
/* Filter Container */
.filter-container {
  display: flex;
  justify-content: center; /* Center both firm and reporting date */
  align-items: center;      /* Vertically align items */
  gap: 40px; /* Add spacing between firm and reporting date */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Minimalist styling for select inputs */
.filter-container select {
  appearance: none; /* Removes default styling like arrows */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 20px;
  font-size: 24px;  /* Adjust font size */
  font-weight: normal; /* Bold text */
  border: none; /* Removes border */
  background: none; /* Removes background */
  color: #333;  /* Dark text color */
  cursor: pointer;
  border-radius: 0;  /* No rounded corners */
  border-bottom: 2px solid #ccc; /* Adds just a simple bottom border */
  transition: border-color 0.3s ease;
}

/* Styling on focus */
.filter-container select:focus {
  border-bottom: 2px solid #6E6E6E; /* Simple blue bottom border on focus */
  outline: none;
}

/* Adjust styling when there's a value */
.filter-container select[value]:not([value=""]) {
  border-bottom: 2px solid #6E6E6E; /* Blue bottom border when value is selected */
}

/* Dark Theme Adjustments */
.dark-theme .filter-container select {
  color: #fff; /* White text in dark theme */
  border-bottom: 2px solid #555; /* Darker bottom border */
}

.dark-theme .filter-container select:focus {
  border-bottom: 2px solid #6E6E6E; /* Light blue border when focused */
}


.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}